<div class="showRecord">
<% form_for(@talk) do |f| %>

<div style="float: left" >
	<b>Kontakt:</b>
		 <%=h  @talk.contact.first_name if @talk.contact   %>
		 <%= link_to @talk.contact.last_name , @talk ,{ :title =>"Hovory"}  if @talk.contact.last_name %><BR/>
		 <b>stav: </b><%=h @talk.contact.state if @talk.contact  %>
</div>

<div  style="margin-left:300px;">
  <b>Mob telefón:</b>
  <%=h  @talk.contact.mob_phone.to_s.gsub(/ /,'')  %><BR/>
  <b>Pevná linka:</b>
  <%=h  @talk.contact.land_line.to_s.gsub(/ /,'')  %><BR/>
  <b>Email:</b>
  <%= text_field_tag "email",value=@talk.contact.email,{:size => 30} %> <BR/>
  <b>Adresa:</b>
  <%=h  @talk.contact.adresa %><BR/>
</div>
<HR/>


  <%= f.error_messages %>
  <%=  f.hidden_field :contact_id %>
 	
  <table>    
	<tr align="LEFT"> 
			<td colspan="3" >
			  <%= f.label :Výsledek_hovoru %><br />
				<%= f.radio_button :result, 'Nebere'%> Nebere
  			<%= f.radio_button :result, 'Zavěsil'%>Zavěsil
  			<%= f.radio_button :result, 'Nedostupný'%>Nedostupný
  			<%= f.radio_button :result,'Schránka'%>Schránka
  			<%= f.radio_button :result, 'Omyl'%>Omyl
  			<%= f.radio_button :result, 'Nemá zájem'%>Nemá zájem
  			<%= f.radio_button :result, 'Tlf. nexistuje'%>Tlf. neexistuje
  			<%= f.radio_button :result, 'OK'%>OK
			</td>	
		
		</tr>	
		<tr>  
			<td colspan="3" >
				<HR/>
			</td>	
		</tr>  
		<tr>  
			<td>
				<%= f.label :Skript %><BR/>
				<%= f.collection_select :script_id, Script.all(:order => :name), :id, :name, {:include_blank => true}  %>
				
			</td>
			<td>
				<%= f.label :Termín_hovoru %><BR/>
				<%= f.datetime_select :call_when_time, :order => [:day, :month, :year],:minute_step => 5, :use_month_numbers => true %>
			</td>
			
		</tr>
		<tr> 
			<td colspan =1>
				<%= submit_to_remote 'button1', 'Start',  :url => {:action => :ajax_respond_start_talk ,:id => @talk}, 
				:with => "'akce=' + button1.value", :update => "start_hovoru", 
				:complete => "new Effect.Highlight('start_hovoru');
				 if (disp.value == '00:00:00.000') {ss()} else{r()};if (button1.value=='Start') { button1.value='Stop'} else { button1.value='Start'}" %>  
				<span id="start_hovoru">
         	<b> Hovor od: </b><%= @talk.start_time.localtime.strftime("%d-%m-%Y |  %H.%M.%S")  if @talk.start_time
         	%>	<b>  Délka: </b>
         	<%= @talk.delka_hovoru  if @talk.end_time
         	%>
          </span>
          
					
          </td>	
          <td colspan = 2	>
          	<input type='text' id='disp' maxlength=12 readonly /> 
          </td>	
		</tr>
		
		<tr>  
			<td colspan="3" >
				<HR/>
			</td>	
		</tr>  
		<tr>
			<td  > 
				<%= f.submit 'Ulož' %>	
			</td>
			<td colspan = 2	>
				<b><%= link_to "Nový hovor" , {:controller => "talks", :action => "new", :contact_id => @talk.contact_id } %></b>
			</td>	
	
		</tr>
		<tr>  
			<td colspan="3" >
				<HR/>
			</td>	
		</tr>  
		
		<tr> 
		
			<td colspan="3" class="skript" >
				<%= f.label :Skript %> <BR/>
				<%=  sanitize(@talk.script.message) if  @talk.script %>
			</td>	
		</tr>
		<tr> 
			<td colspan="3" class="skript">
				<%= f.label :Obsah_hovoru %><br />
				<%= f.text_area :poznamka,"cols" => 90, "rows" => 10 %>
			</td>	
		</tr>
		<tr> 
			<td colspan="3" >
			 <%= f.submit 'Ulož' %>
			</td>	
		</tr>
		
		<tr> 
			<td colspan="3" >
			 
			Výpis hovorů dne:
				<%= calendar_date_select_tag 'p_date_and_time', nil, :clear_button => false, :time => false, :popup => :force, 
				:after_close =>  remote_function(:url => {:action => :ajax_respond_date,:id  => @talk} , :with => 'Form.serialize(this.form)', :update => 'my_list' ),
  		  :after_show => remote_function(:url => {:action => :ajax_respond_clear,:id  => @talk} , :with => 'Form.serialize(this.form)', :update => 'my_list' )
			 	 %>  
			 	</td>	
		</tr>
		
		
		<tr> 
			<td colspan="3" >
				<div id="my_list">
          
</div>
<p>
Výpis všech hovorů s <%=h  @talk.contact.last_name if @talk.contact   %>
<%= render :partial => 'list' %> 
</ p>
			</td>	
		</tr>
		
		
		
	

  </table>  
	</div> 
		
<% end  %>





