<div style="float: left" >
	<b>Kontakt:</b>
		 <%=h  @talk.contact.first_name if @talk.contact   %>
		 <%=h @talk.contact.last_name if @talk.contact  %> <BR/>
		 <b>stav: </b><%=h @talk.contact.state if @talk.contact  %>
</div>

<div  style="margin-left:300px;">
  <b>Mob telefón:</b>
  <%=h  @talk.contact.mob_phone.to_s.gsub(/ /,'') %><BR/>
  <b>Pevná linka:</b>
  <%=h  @talk.contact.land_line.to_s.gsub(/ /,'') %><BR/>
  <b>Email:</b>
  <%=h  @talk.contact.email %><BR/>
  <b>Adresa:</b>
  <%=h  @talk.contact.adresa %><BR/>
</div>
<HR/>

<div>
	<b>Kdy zavolat:</b>
	<%=h   @talk.call_when_time.strftime("%d-%m-%Y %H.%M| Den: %a | Týden:%W") if @talk.call_when_time %>
	<BR/>
	<b>Hovor skončil:</b>
	<%=h "Ano" if @talk.finished %>
	<BR/>
	<b>Poradna:</b>
	<%=h "Ano" if @talk.poradna  %>
	<BR/>
	<b>Poznámka:</b>
	<%=h @talk.poznamka %>
	<BR/>
</div>
<HR/>

<%= link_to 'Editovat hovor', edit_talk_path(@talk) %> |
<%= link_to 'Editovat kontakt', edit_contact_path(@talk.contact) %> |
<%= link_to "Nový hovor" , {:controller => "talks", :action => "new", :contact_id => @talk.contact} %> |


<p>
Výpis všech hovorů s <%=h  @talk.contact.last_name if @talk.contact   %>
<%= render :partial => 'list' %> 
</ p>