<div style="float: left" >
	<b>Kontakt:</b>
		 <%=h  @talk.contact.first_name if @talk.contact   %>
		 <%=h @talk.contact.last_name if @talk.contact  %> <BR/>
		 <b>stav: </b><%=h @talk.contact.state if @talk.contact  %><BR/>
		 <b>Výška:</b> 
		 <%= @talk.contact.height if @talk.contact  %> 
		 <b>Váha:</b>
		 <%= @talk.contact.weight if @talk.contact  %> 			
		 <b>Věk:</b>
		<%= @talk.contact.age if @talk.contact  %> <BR/>
		 <b>Ukládání tuku:</b>
		 <%= @talk.contact.body_type.type_cz if @talk.contact.body_type  %> <BR/>
		<b>BMI:</b>
		<%= @talk.contact.bmi() if @talk.contact  %> 
		<b>BF:</b>
		<%= @talk.contact.bfat() if @talk.contact  %>  
		
				 
</div>

<div  style="margin-left:300px;">
  <b>Mob telefón:</b>
  <%=h  @talk.contact.mob_phone.to_s.gsub(/ /,'') %><BR/>
  <b>Pevná linka:</b>
  <%=h  @talk.contact.land_line.to_s.gsub(/ /,'') %><BR/>
  <b>Email:</b>
  <%=h  @talk.contact.email %><BR/>
  <b>Adresa:</b>
  <%=h  @talk.contact.adresa %><BR/>
  <b>Poznámka:</b>
  <%=h  @talk.contact.note %><BR/>
</div>
<HR/>

<div>
	<b>Termín hovoru:</b>
	<%=h   @talk.call_when_time.strftime("%d-%m-%Y %H.%M| Týden:%W") if @talk.call_when_time %><BR/>
	<b>Začátek hovoru:</b> 
  <%=h @talk.start_time.localtime.strftime("%d-%m-%y|%H.%M") if @talk.start_time  %>
  <b>Délka hovoru:</b> 
  <%=h @talk.delka_hovoru if @talk.finished%>
  <b>Výsledek hovoru:</b> 
  <%=h @talk.result %>
  <BR/>
	<b>Poznámka:</b>
	<%=h @talk.poznamka %>
	<BR/>
</div>
<HR/>

<%= link_to 'Editovat hovor', edit_talk_path(@talk) %> |
<%= link_to 'Editovat kontakt', edit_contact_path(@talk.contact) %> |
<%= link_to "Nový hovor" , {:controller => "talks", :action => "new", :contact_id => @talk.contact} %> |


<p>
Výpis všech hovorů s <%=h  @talk.contact.last_name if @talk.contact   %>
<%= render :partial => 'log' %> 
</ p>