<% form_for(@contact) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :mobil_telefon %><br />
    <%= f.text_field :mob_phone %>
  </p>
  <p>
    <%= f.label :pevná_linka  %><br />
    <%= f.text_field :land_line %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
   <p>
    <%= f.label :adresa %><br />
    <%= f.text_field :adresa %>
  </p>
  <p>
    <%= f.label :výška %><br />
    <%= f.text_field :height %>
  </p>
  <p>
    <%= f.label :váha %><br />
    <%= f.text_field :weight %>
  </p>
  <p>
    <%= f.label :věk %><br />
    <%= f.text_field :age %>
  </p>
  <ul >
  		<li>
			  <%= f.label :Stav_kontaktu %><br />
			</li>  
			<li>
				<%= f.radio_button :state, 'Zájemce'%>Zájemce
			</li>
			<li>
				<%= f.radio_button :state, 'Zajemce o hubnuti'%>Zájemce o hubnutí
			</li>
			<li>
				<%= f.radio_button :state, 'Zajemce o praci'%>Zájemce o práci
			</li>
  		<li>	
				<%= f.radio_button :state, 'Zájemce po poradně'%>Zájemce po poradně 
			</li>
  		<li>	
				<%= f.radio_button :state, 'Zájemce s analýzou'%>Zájemce s analýzou
			</li>  
  		<li>	
				<%= f.radio_button :state, 'Opakovaný účastník poradny'%>Opakovaný účastník poradny
			</li>
  		<li>	
				<%= f.radio_button :state, 'Nový klient'%>Nový klient  
			</li>
  		<li>	
				<%= f.radio_button :state, 'Opakovaný klient'%>Opakovaný klient 
			</li>
  			<li>
				<%= f.radio_button :state, 'Klient s dohodou'%>Klient s dohodou 
			</li>
  		<li>	
				<%= f.radio_button :state, 'Zaregistrovaný klient'%>Zaregistrovaný klient
			</li>
  		<li>	
				<%= f.radio_button :state, 'Dlouhodobý klient'%>Dlouhodobý klient 
			</li>
  		<li>	
				<%= f.radio_button :state, 'Nemá zájem'%>Nemá zájem  
			</li>
  </ul>			
  <p>
     <%= f.label :body_type_id %><br />
    <%=  collection_select(:contact, :body_type_id, BodyType.all, :id, :type_cz, {:prompt => true})%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>